body {
    background: rgba(0, 0, 0, 1);
    font-family: Arial black, sans-serif, "fantasy";
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background: rgba(35, 35, 35, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
}

main {
    box-sizing: border-box;
    width: 1000px;
    min-height: 300px;
    margin: 100px auto 0;
    background: rgba(35, 35, 35, 1);
    padding: 20px;
}

button {
    background: rgba(100, 100, 255, 0.5);
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif, "fantasy";
}

.text {
    font-family: Arial black, sans-serif, "fantasy";
    color: rgba(255, 255, 255, 1);
}

.title {
    color: gold;
    font-family: Arial black, sans-serif, "fantasy";
}

.seção {
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    min-height: 400px;
}

#header-title {
    text-align: center;
}

#main-title {
    text-align: center;
}

#seção1-0 {
    display: inline-block;
    position: relative;
    left: 0;
    top: 10px;
}

#seção1-dropdown {
    background: rgba(210, 0, 0, 0.8);
    padding: 10px;
}

#seção1-content {
    position: absolute;
    display: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 10px black;
}

#seção1-0:hover > #seção1-content {
    display: block;
    background: rgba(100, 100, 255, 0.5);
}

#seção1-1 {
    display: inline-block;
    height: 25px;
    width: 70px;
    background: rgba(210, 0, 0, 0.8);
    position: relative;
}

#seção1-1-content {
    background: rgba(100, 100, 255, 0.5);
    height: 100px;
    display: none;
    position: absolute;
    overflow: auto;
}

.seção1-1-item p {
    text-align: center;
    margin: 0;
}

.seção1-1-item:hover {
    background-color: rgba(210, 0, 0, 0.8);
}

#seção1-1:hover > #seção1-1-content {
    display: block;
    width: 100%;
}