* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F7F4;
}

header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 44rem 0 13rem;
}

nav {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 44rem 0 13rem;
    height: 93.95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.container-courses {
    
}

.germany-flag {
    width: 3.5rem;
}

.us-flag {
    width: 3.5rem;
}
