.container-pre-main {
    display: inline-block;
    border: 2px rgb(255, 255, 255) solid;
    margin: 0 20px;
    height: 200px;
    width: 250px;
    animation: 2s fadein;
}

.container-main:hover {
    top: 0;
    left: 0;
    box-shadow: 20px 20px 5px black;
    background: rgba(133, 133, 155, 0.7);
}

#pre-main {
    background: rgb(0, 0, 0);
    margin: 60px auto 0;
    height: 500px;
    width: auto;
}

#img-pre-main {
    display: block;
    margin: 0 auto;
    animation: 2s fadein;
}

#container-pre-main {
    text-align: center;
}

#main-div {
    background: rgb(40, 40, 40);
    min-height: 100px;
    width: auto;
    height: auto;
}

@keyframes fadein {
    0%{filter: brightness(0%)};
    100%{filter: brightness(100)};
}

#box {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: gold;
}