* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F7F4;
    font-family: Nunito Sans;
    color: #5C5555;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

main {
    height: 91.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Poppins;
    font-size: 3rem;
    color: #1A1A1A;
}

.germany-flag {
    width: 3.5rem;
}

.us-flag {
    width: 3.5rem;
}

#logo {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;

    background: linear-gradient(to top, #D4214B, #A40EB1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#right-image {
    width: 30rem;
}

#left-container {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}